<label for="{{inputId}}" class="{{style.label}}">{{label}}</label>
<input type="{{type}}" class="{{style.input}}" value="{{value}}" id="{{inputId}}" {{#if isRequired}} required {{/if}} />
<span class="{{style.message}} {{style.isError}} js-error"></span>
