<div class="{{style.header}}">
  <div class="{{style.topSection}}">
    <div class="{{style.menuIcon}} js-menu">
      @svg('menu')
    </div>
  </div>
  <div class="{{style.title}}">
    {{title}}
  </div>
</div>
