<div class="{{style.modalDialog}}">
  <div class="{{style.header}}" {{#if headerColor}} style="background-color: {{headerColor}}" {{/if}}>
    {{title}}
  </div>

  <div class="{{style.content}} js-modal-content"></div>

  <div class="{{style.actions}}">
    {{#if cancelLabel}}
      <div class="{{buttonStyle.button}} {{buttonStyle.dialog}} js-modal-dialog-cancel-action">
        {{cancelLabel}}
      </div>
    {{/if}}

    {{#if confirmLabel}}
      <div class="{{buttonStyle.button}} {{buttonStyle.dialog}} js-modal-dialog-confirm-action">
        {{confirmLabel}}
      </div>
    {{/if}}
  </div>
</div>
