<section class="{{style.header}}">
  <div class="{{style.user}}">
    {{#if owner.profilePhoto.url}}
      <img class="{{style.profilePhoto}}" src="{{currentUser.profilePhoto.url}}" alt="Profile photo"/>
    {{else}}
      <img class="{{style.profilePhoto}}" src="/public/images/no-photo.svg" alt="Profile photo"/>
    {{/if}}
    <a href="/user/{{currentUser.id}}" class="{{style.username}}">{{currentUser.username}}</a>
  </div>
</section>

{{#each navigations}}
  <section class="{{className}}">
    {{#each items}}
      {{#if active}}
        <a class="{{../../style.navigationLink}} {{../../style.isActive}}" href="/{{link}}">{{label}}</a>
      {{else}}
        <a class="{{../../style.navigationLink}}" href="/{{link}}">{{label}}</a>
      {{/if}}
    {{/each}}
  </section>
{{/each}}
