<div class="js-header"></div>

<section class="{{style.contentContainer}}">
  <div class="{{style.contentWrap}}">
    <div class="{{style.contentHeader}}">
      <div class="{{style.user}}">
        <img class="{{style.profilePhoto}}" src="{{owner.profilePhoto.url}}" alt="{{owner.username}}"/>
        <a class="{{style.username}}" href="/user/{{id}}">{{owner.username}}</a>
      </div>
      <div class="{{style.date}}">
        {{#date createdAt}}{{/date}}
      </div>
    </div>
    <div class="{{style.content}}">
      {{{content}}}
    </div>
  </div>
</section>

<section class="{{style.commentSection}}">
  <div class="js-pagination"></div>

  <div id="thread-comments"></div>

  <div class="{{style.newCommentSection}} js-new-comment-section">
    <div id="new-comment"></div>
    <div class="{{style.submitContainer}}">
      <div class="{{buttonStyle.button}} {{style.submit}} js-submit-new-comment">
        submit
      </div>
    </div>
  </div>
</section>
