<div class="js-header"></div>

<div class="js-pagination"></div>

<div class="{{style.contentContainer}}">
  <div class="{{style.contentWrap}}">
    <div class="{{style.contentHeader}}">
      <div class="{{style.user}}">
        <img class="{{style.profilePhoto}}" src="{{owner.profilePhoto.url}}" alt="{{owner.username}}"/>
        <a class="{{style.username}}" href="/user/{{id}}">{{owner.username}}</a>
      </div>
      <div class="{{style.date}}">
        {{createdAt}}
      </div>
    </div>
    <div class="{{style.content}}">
      {{{content}}}
    </div>
  </div>
</div>

<div class="" id="thread-comments">

</div>
