<div class="thread">
  <div class="thread__header">
    <div class="thread__title">
      {{title}}
    </div>
    <div class="thread__content">
      {{content}}
    </div>
    <div class="thread__additional-info">
      <div class="thread__owner-photo" style="background-image: url('<%= thread.get('owner').profilePhoto.url %>')">

      </div>
      <div class="thread__owner-info">
        <div class="thread__owner-username">
          {{owner.username}}
        </div>
        <div class="thread__date">
          {{createdAt}}
        </div>
      </div>
    </div>
  </div>
  <div class="thread__comments">
    {{# each comments}}
      <div class="comment">
        <div class="comment__image" style="background-image: url('{{comment.user.profilePhoto.url}}')">

        </div>
        <div class="comment__card">
          <div class="comment__info">
            <%= comment.user.username %> u <%= comment.createdAt %>
          </div>
          <div class="comment__content">
            <%= comment.content %>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="thread__new-comment-container">
    <div class="thread__new-comment">
      <div class="input-box">
        <label for="thread-new-comment">Comment</label>
        <textarea class="input-box__input js-new-comment-content" id="thread-new-comment"></textarea>
      </div>
      <div class="button button-raised js-new-comment">
        SUBMIT
      </div>
    </div>
  </div>
</div>
