<div class="{{style.background}}"></div>
<div class="{{style.header}}">
  <div class="{{style.headerItem}}">
    <div class="{{style.headerIcon}}">
      @svg('arrow-back-icon-white')
    </div>
    <div class="{{style.headerText}}">
      Log in
    </div>
  </div>
</div>
<div class="{{style.cardContainer}}">
  {{#unless isRegistrationSuccessful}}
    <div class="{{style.title}}">Welcome!</div>
    <div class="{{style.card}}">
      <div class="{{style.description}}">
        To start the registration process please enter your email and select a password for your account.
      </div>
      <div class="{{style.form}} js-form">

      </div>
    </div>
    <button class="{{style.nextButton}} js-next-button">
      @svg('send-icon-white')
    </button>
  {{else}}
    <div class="{{style.title}}">Check your inbox!</div>
    <div class="{{style.card}}">
      <div class="{{style.description}}">
        Thank you for your registration. All further informations are sent to your email address.
      </div>
    </div>
  {{/unless}}
</div>
