<div class="{{style.header}}">
  <div class="{{style.user}}">
    <img class="{{style.profilePhoto}}" src="{{user.profilePhoto.url}}" alt="{{user.username}}"/>
    <a class="{{style.username}}" href="/user/{{id}}">{{user.username}}</a>
  </div>
</div>
