<div class="{{style.header}}">
  <div class="{{style.user}}">
    <img class="{{style.profilePhoto}}" src="{{owner.profilePhoto.url}}" alt="{{owner.username}}"/>
    <a class="{{style.username}}" href="/user/{{id}}">{{owner.username}}</a>
  </div>
  <div class="{{style.date}}">
    {{#date createdAt}}{{/date}}
  </div>
</div>
<div class="{{style.content}}">
  {{{content}}}
</div>
