{{#if label}}
  <label for="{{inputId}}" class="{{style.label}}">{{label}}</label>
{{/if}}
<textarea class="{{style.textarea}}" id="{{inputId}}" rows="4" cols="60" {{#if isRequired}} required {{/if}}></textarea>
<span class="{{style.message}}">You can write using <a href="/markdown" class="js-to-markdown">markdown</a></span>
<span class="{{style.message}} {{style.isError}} js-error"></span>
