<div class="{{cardList.header}}">
  <div class="{{cardList.title}}">
    {{name}}
  </div>
  <div class="{{cardList.headerActions}}">
    <div class="{{cardList.headerIconAction}} js-create-new-thread" data-category-id="{{id}}">
      @svg('add-icon-white')
    </div>
  </div>
</div>
<div class="{{cardList.items}} js-category-threads">

</div>
